.field-position {
  display: inline-block;
  background-color: lightblue;
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

.field-position.miss {
  background-color: blue;
}

.field-position.hit {
  background-color: orange;
}

.field-position.sank {
  background-color: red;
}
